@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    black;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    black;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    black;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    black;
}

::placeholder { /* Most modern browsers support this now. */
 color:    black;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: "Roboto";
  list-style: none;
  text-decoration: none;
}

/* .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
} */

body {
  display: flex;
  flex-direction: column;
  min-width: 840px;
  margin: 0;
  padding: 0;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.top-section, .header, .footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 100px;
}

.header img {
  width: 50px;
  height: auto;
  margin: 0;
  padding: 0;
}

.header ul {
  flex: 1;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 16px;
  margin-right: 50px;
}

.header ul, .intro-text {
  font-size: 18px;
  color: #E5E7EB;
}

.intro-container {
  margin: 0 100px;
  display: flex;
  flex-flow: row wrap;
  padding: 50px 0;
}

.intro-header-section {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
  align-items: center;
}

.intro-header-section h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 0px;
  margin-top: 0px;
}

.intro-header-container {
  width: 420px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-header-container button {
  width: 100px;
  height: 30px;
  background-color: #3882F6;
  color: #E5E7EB; 
  font-weight: bold;
  border: 1px solid #3882F6;
  border-radius: 5px;
}

.placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  flex: 1;
}

.placeholder img {
  width: 600px;
  height: auto;
}

.product-info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.product-image-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-container img{
  width: 100px;
  height: auto;
  border: solid 5px #7bd3ed;
  border-radius: 25px;
  justify-self: center;
}

.quote-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  background-color: #E5E7EB;
}

.inspiring-quote {
  text-wrap: wrap;
  text-align: center;
  width: 700px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

.attribute {
  font-weight: bold;
}

.sign-up-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.bottom-section {
  padding: 50px 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 100px; */
  width: 800px;
  height: 75px;
  background-color: #3882F6;
  color: #E5E7EB;
  border: 1px solid #3882F6;
  border-radius: 10px;
}

.sign-up-text {
  display: flex;
  flex-flow: column wrap;
  min-height: 0;
}

.call-to-action {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
}

.click-button-text {
  font-size: 12px;
  width: 350px;
}

.bottom-section button {
  height: 30px;
  width: 75px;
  font-size: 16px;
  background-color: #3882F6;
  color: #E5E7EB;
  border: 3px solid #E5E7EB;
  border-radius: 5px;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #E5E7EB;
}